cloud_id = "123XXXXXXXXXXXXXXXXXX"
folder_id = "123XXXXXXXXXXXXXXXXX"
zone = "ru-central1-b"
image_id = "123XXXXXXXXXXXXXXXXXXX"
public_key_path = "~/.ssh/yc_rsa.pub"
subnet_id =  "asdasdXXXXXXXXXXXXXXXX"
service_account_key_file = "path/key.json"
